@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Spice&display=swap');
*{      
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111;
    background: linear-gradient(to left, #1f1e1e, #808080, #3B5998);
    color: #fff;   
    overflow-x: hidden; /* Oculta el scroll horizontal */
    max-width: 100vw; /* Limita el ancho máximo al viewport */     
  

}
h1{
    font-family: 'Bungee', cursive;
    display:inline-block;
    font-size: 40px;
    text-align: justify;
    margin-top: 120px;
    margin-left: 20px;
    color: #EA3323;
}
.fuente55px{
    font-size: 55px;
}
h2{ 
    font-size: 1.8rem;
    text-align: center;
    padding-top: 16px;
} 

@media screen and (max-width: 768px) {

    body {
        overflow-x: hidden;
        max-width: 100vw;
    }  
    h1 {
        font-size: 35px;
        margin-top: 120px; /* Ajuste del margen superior */
        margin-left: 0; /* Elimina el margen izquierdo */
        text-align: center; /* Centra el texto en pantallas pequeñas */
        width: 100%; /* Ajusta el ancho */
    }
    .fuente55px {
        font-size: 40px; /* Reduce el tamaño de la fuente grande */
    }
    h2 {
        font-size: 1.5rem;
        padding-top: 8px; /* Reduce padding */
    }
}


header {
    
    background-color: #000000;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0;
    z-index: 1005;
    height: 8vh;
    padding: 10px;
    width: 100%;
}
.logo{
    width: 50px;
}
nav ul {
    
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 10px;
    margin-right: 25px;
    font-weight: bold;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #EA3323;
}


/* Explora Section */

.explora {
    height: 20vh;
    background: linear-gradient(to left, #1C1C1C, #808080, #3B5998);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.explora h1 {
    font-family: 'Bungee', sans-serif;
    font-size: 4rem;
    color: #EA3323;
    margin: 0;
}

.explora p {
    font-size: 1.5rem;
    margin: 10px 0 20px 0;
}

.explora .btn {
    background-color: #EA3323;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
    
}

.explora .btn:hover {
    background-color: #C1271D;
}

  /*Estilos seccion principal del index*/
  .principalIndex{
    margin-top: 5px;
    padding-left: 80px;
    background-image:url("../assets/img/consola_1920.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    height: 92vh; 
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:space-between;

    
     
      .contenedorTextoPrincipalIndex{
          position:absolute;
          top:60vh;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 1002;
          margin:0 auto;
          margin-top: 10%;
          padding:10px;
          border-radius: 5px;
          text-align: center;
          width: 50%;
          font-size: 10px;
          color: rgb(255, 255, 255);
          backdrop-filter: blur(15px);

          p{
            font-size: 2.2em;
          }
          a{
              display:inline-block;
              margin-top:20px;
              text-decoration: none;
              color: rgb(255, 255, 255);
              font-size: 2em;
              border:2px solid rgb(109, 103, 103);
              padding:5px;
              border-radius:5px;
              box-shadow: -10px 0px 35px 12px rgba(255,0,0,0.66);
    
            }
            
        }
    
   
   
}

/* Media query para pantallas móviles */
@media screen and (max-width: 768px) {

    header {
        height: auto;
        flex-direction: column;
        align-items: center;
        padding: 5px;
        width: 100vw; /* Asegura que el header ocupe el 100% del ancho */
    }
    nav ul li {
        margin-left: 10px;
        margin-right: 5px;
        margin-bottom: 5px;
    }    
    .principalIndex {
        padding-left: 10px;
        width: 100vw;
        margin: 0 auto;
        background-image:url("../assets/img/consola_640.jpg");
       
    }

    .contenedorTextoPrincipalIndex {
        position: absolute;
        top: 60vh;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90vw;
        padding: 10px;
        text-align: center;
        p{
            display: none;
        }
    }
.productosDestacados{
        flex-direction: column;
        align-items: center;
        margin-top: 50px;

        .masPedidos{
            margin-bottom: 50px;
            width: 100%;
        }

    }
    .marcasQueSeVenden{
        flex-direction: column;
        align-items: center;
        margin-top: 50px;

        .brands{
            margin-bottom: 50px;
            width: 100%;
        }

    }
 
    .mision{
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        margin-right: 8px;
    }
    /*
    footer {
        height: auto;
        flex-direction: column;
        align-items: center;
        padding: 5px;
         /* Asegura que el header ocupe el 100% del ancho 
    }
      
        nav ul li a {
            margin-left: 10px;
            margin-right: 5px;
            margin-bottom: 5px;
            margin: 0 auto;
            font-size: 1em;
            margin-left: ;
        }
    
        
        google-map-link{
           
            margin-top: 20px;
            margin-bottom: 20px;
        }
            
        } */
    
}


 /*productos Destacados*/
 .productosDestacados{
    text-align: center;
    
    .galeriaDestacados{
        padding: 10px;
        display: flex;
        width: 90%;
        margin: 0 auto;
        justify-content: space-between;
        flex-wrap: wrap;
        .masPedidos{
            padding: 10px;
            border-radius:5px;
        
            a{
                display:inline-block;
                width: 200px;
                background-color: #000000;
                margin-top:20px;
                text-decoration: none;
                color: rgb(255, 255, 255);
                font-size: 1.5em;
                border:2px solid rgb(109, 103, 103);
                padding:5px;
                border-radius:5px;
                box-shadow: -10px 0px 35px 12px rgba(65, 62, 62, 0.66);

            
 
              }
              .btn{
                
                color: yellow;
                padding:10px
                }
              .btn:hover {
                    color: #EA3323;
                }   
        }

    }
    
    img{
       width: 200px;
    }
}
/*MARCAS QUE SE VENDEN */

.marcasQueSeVenden{
    margin-top: 15px;
    text-align: center;
    .btnMarcas{
        display: inline-block;
        margin-top: 30px;
        padding: 5px 10px;
        text-decoration: none;
        color: #ffffff;
        font-size: 1.2rem;
        border:2px solid rgb(109, 103, 103);
        padding:5px;
        border-radius:5px;
        box-shadow: -10px 0px 35px 12px rgba(255,0,0,0.66);
        background-color: #1f1e1e;
    }

    
    .galeriaMarcas{
        padding: 10px;
        display: flex;
        width: 90%;
        margin: 0 auto;
        justify-content: space-between;
        flex-wrap: wrap;
        .brands{
            padding: 10px;
            border-radius:5px;
        }

    }
}
/*Nuestros Clientes*/

.nuestrosClientes{
    margin-top: 15px;
    text-align: center;
    .btnClientes{
        display: inline-block;
        margin-top: 30px;
        padding: 5px 10px;
        text-decoration: none;
        color: #ffffff;
        font-size: 1.2rem;
        border:2px solid rgb(109, 103, 103);
        padding:5px;
        border-radius:5px;
        box-shadow: -10px 0px 35px 12px rgba(255,0,0,0.66);
        background-color: #1f1e1e;
    }
 
    
    .galeriaResenia{
        padding: 10px;
        display: flex;
        width: 80%;
        margin: 0 auto;
        row-gap: 20px;
        justify-content: space-evenly;
        flex-wrap: wrap;
        .op{
            padding: 10px;
            border-radius:5px;
        }

    }
}
/* Footer */
footer {
    
    background-color: #000000;
    padding: 0;
    text-align:left;
    display: flex;
    justify-content: space-between;
    align-items: center;
   

}

footer p {
    margin: 0;
}
.mapa{
    display:contents;
    width: 5%;
    height: 5%;
    justify-content: space-around;
    margin-top: 5px;
    
    
    
}
address {
    margin-left: 10px;
    height: 16vh;
    color:#ffffff;

}
ul{
    list-style: none;
  
    a{  display: inline-block;
        text-decoration: none;
        color:  #ffffff;
        font-size: 1.5em;
        margin-top: 15px;
        .legal{
        
            align-items: center;
            color: #ffffff;
        }


    }
    .fa-instagram{
        font-size: 1.5em;
    }

    .f a-facebook, .fa-twitter{
        font-size: 3em;
    }
}
.fa-whatsapp{
    font-size: 4em;
    color:rgb(44, 181, 44);
    position:fixed;
    bottom: 180px;
    right: 20px;
   
}
p{
    font-size: 1.2em;
    color: #ffffff;
  
}


.fa-up-long{
    font-size: 64px;
    
    margin-left: 20px;
    bottom: 220px;
    
}
.mision{
    
    margin-top:63px;
    margin-left: 30px;
    margin-bottom: 40px;
    color: #ffffff;
    list-style-type: none;
}
.mision ul{
    margin-left: 10px;  
    list-style-type: none; 
}
.mision ul li{
    margin: 5px 3px;
    span {
    color: red;
    }
}
h3{
    
    margin-top: 25px;
    margin-bottom: 20px;
    
}
ul.redes{
    margin-top: 60px;
    margin-left: 10px;

}


@media screen and (max-width: 768px) {
    footer {
        height: auto;
        flex-direction: column;
        align-items: center;
        padding: 5px;
        width: 100vw;/* Asegura que el header ocupe el 100% del ancho */

    }
    nav{
        flex-direction: column;
        align-items: center;
        padding: 5px;
        /* width: 100vw;Asegura que el header ocupe el 100% del ancho */
  
      
    }
    nav ul li {
        margin-left: 10px;
        margin-right: 5px;
        margin-bottom: 5px;
        a{
            font-size: 1em;
        }
    }
    address{
        margin-top: 15px;
        margin-left: 10px;
        height: 15vh;
        color:#ffffff;
    }    

    }
 
/* GALERIA - VIDEOJUEGOS */

.galeriaVideojuegos{

          padding: 10px;
          display: flex;
          width: 80%;
          margin: 0 auto;
          row-gap: 20px;
          justify-content: space-evenly;
          flex-wrap: wrap;
          .producto{
            padding: 10px;

            a{
                display:inline-block;
                width: 200px;
                background-color: #000000;
                margin-top:20px;
                text-decoration: none;
                color: rgb(255, 255, 255);
                font-size: 1.5em;
                border:2px solid rgb(109, 103, 103);
                padding:5px;
                border-radius:5px;
                box-shadow: -10px 0px 35px 12px rgba(65, 62, 62, 0.66);

            
 
              }
              .btn{
                
                color: yellow;
                padding:10px
                }
              .btn:hover {
                    color: #EA3323;
                }   


          }
  
      }
      .muestravideo{

        padding: 10px;
        display: flex;
        width: 100vw;
        margin: 0 auto;
        row-gap: 20px;
        justify-content: space-evenly;
        flex-wrap: wrap;
        a{
            display: inline-block;
            width: 100vw;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
           
            
        }
        .video{
          padding: 10px;
        }}

      @media screen and (max-width: 768px) {
        .muestravideo{
            overflow: hidden;
            
            .video{
                width: 100%;
                overflow: hidden;
                height: auto; 
    
            }

        }

      }
    
/* Contenedor del formulario */
form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 20px;

  }

  /* Estilo para los inputs y select */
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select {
    width: 100%;
    padding: 0.75rem;
    margin: 0.5rem 0 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
  }

  /* Etiquetas y títulos */
  label, h3 {
    font-size: 1rem;
    color: #333;
  }
  
  h3 {
    margin-bottom: 0.5rem;
  }

  /* Checkbox y radio buttons */
  .checkbox-group, .radio-group {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  /* Estilo para botones */
  input[type="reset"],
  input[type="submit"] {
    padding: 0.75rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: calc(50% - 0.5rem);
    margin-top: 1rem;
  }

  input[type="reset"] {
    background-color: #d9534f;
    color: #fff;
  }

  input[type="submit"] {
    background-color: #5cb85c;
    color: #fff;
  }

  input[type="reset"]:hover {
    background-color: #c9302c;
  }

  input[type="submit"]:hover {
    background-color: #4cae4c;
  }


  /* CARRITO ESTILOS EN TABLA DE COMPRA */

  .carrito {
    max-width: 600px;
    width: 100%;
    padding: 1rem;
    background-color: grey;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
  }

  th, td {
    padding: 0.75rem;
    text-align: center;
    border: 1px solid #ddd;
  }

  /* Encabezado */
  thead th {
    background-color: black;
    color: red;
    font-weight: bold;
  }

  /* Filas pares e impares */
  tbody tr:nth-child(even) {
    background-color: green;
  }

  /* Pie de tabla */
  tfoot td {
    font-weight: bold;
    background-color: red;
  }

  /* Última columna de totales */
  tfoot td:last-child {
    color: black;
    font-size: 1.1rem;
  }



  
