@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Spice&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');*/
@font-face {
    font-family: 'Roboto';
    src: url(../assets/fonts/Roboto/Roboto-Bold.ttf);
    font-weight: bold;
    font-style: bold; 
}


*{      

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to left, #1f1e1e, #808080, #3B5998);
    color: #fff;   
    overflow-x: hidden;
    max-width: 100vw;     
  

}
h1{
    font-family: 'Bungee', cursive;
    display:inline-block;
    font-size: 40px;
    text-align: justify;
    margin-top: 120px;
    margin-left: 20px;
    color: #EA3323;
}
.fuente55px{
    font-size: 55px;
}
h2{ 
    font-size: 1.8rem;
    text-align: center;
    padding-top: 16px;
} 

/* Media query móviles: para body y haches */
@media screen and (max-width: 768px) {

    body {
        overflow-x: hidden;
        max-width: 100vw;
    }  
    h1 {
        font-size: 35px;
        margin-top: 120px;
        margin-left: 0; 
        text-align: center;
        width: 100%;
    }
    .fuente55px {
        font-size: 40px;
    }
    h2 {
        font-size: 1.5rem;
        padding-top: 8px; 
    }
}
/* Fin de media query: Body-haches*/


/* Encabezado - LOGO - Navegación principal */
header {
    background-color: #000000;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0;
    z-index: 1005;
    height: 8vh;
    padding: 10px;
    width: 100%;
}
.logo{
    width: 50px;
}
nav ul {
    
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 10px;
    margin-right: 25px;
    font-weight: bold;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #EA3323;
}


.contenedor{
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* oculto lo que queda fuera del .contenedor */
    contain: paint;
}

/* Footer /////////////////////////////////////////////////////////////*/
footer {
    
    background-color: #000000;
    padding: 0;
    text-align:left;
    display: flex;
    justify-content: space-between;
    align-items: center;
   

}

footer p {
    margin: 0;
}
.mapa{
    display: block;
    width: 5%;
    height: 5%;
    justify-content: space-around;
    margin-top: 5px;
    
    
    
}
address {
    margin-left: 10px;
    height: 16vh;
    color:#ffffff;
    font-size: 0.8em;

}
ul{
    list-style: none;
  
    a{  display: inline-block;
        text-decoration: none;
        color:  #ffffff;
        font-size: 1.5em;
        margin-top: 15px;
        .legal{
        
            align-items: center;
            color: #ffffff;
        }


    }
    .fa-instagram{
        font-size: 1.5em;
    }

    .f a-facebook, .fa-twitter{
        font-size: 3em;
    }
}
.fa-whatsapp{
    font-size: 4em;
    color:rgb(44, 181, 44);
    position:fixed;
    bottom: 180px;
    right: 20px;
   
}
p{
    font-size: 1em;
    color: #ffffff;
  
}


.fa-up-long{
    font-size: 64px;
    
    margin-left: 20px;
    bottom: 220px;
    
}
.mision{
    
    margin-top:63px;
    margin-left: 30px;
    margin-bottom: 40px;
    color: #ffffff;
    list-style-type: none;

}
.mision ul{
    margin-left: 10px;  
    list-style-type: none; 
}
.mision ul li{
    margin: 5px 3px;
    span {
    color: #EA3323;
    }
}

ul.redes{
    margin-top: 60px;
    margin-left: 10px;

}


@media screen and (max-width: 768px) {
    footer {
        height: auto;
        flex-direction: column;
        align-items: center;
        padding: 5px;
        width: 100vw;

    }
    nav{
        flex-direction: column;
        align-items: center;
        padding: 5px;
        
  
      
    }
    nav ul li {
        margin-left: 10px;
        margin-right: 5px;
        margin-bottom: 5px;
        a{
            font-size: 1em;
        }
    }
    address{
        margin-top: 15px;
        margin-left: 10px;
        height: 15vh;
        color:#ffffff;
    }    

    }

/* seccion carrito */
.jga-carrito{
    border: 1px solid #666;
    width: 60%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: sticky !important;
    top: 20px;
    transition: .3s;
    
}

.jga-carrito .header-carrito{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
    margin-top: 20px;

}
.jga-carrito .carrito-item{
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #666;
    padding: 20px;

}

 .jga-carrito .carrito-item img {
    margin-right: 20px;
 }

 .jga-carrito .carrito-item .carrito-item-titulo {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;

 }

 .jga-carrito .carrito-item .selector-cantidad {
    display: inline-block;
    margin-right: 25px;
 }

 .jga-carrito .carrito-item .carrito-item-cantidad {
    border: none;
    font-size:  18px;
    background: transparent;
    display: inline-block;
    width: 30px;
    padding: 5px;
    text-align: center;
    color: #fff  ;
 }

 .jga-carrito .carrito-item .selector-cantidad i {
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
 }

 .jga-carrito .carrito-item .carrito-item-precio {
    font-weight:  bold;
    display: inline-block;
    font-size:  18px;
    margin-bottom: 5px;
    
 }

 .jga-carrito .carrito-item .btn-eliminar {
    position: absolute;
    right: 15px;
    top: 15px;
    color: #000;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
    padding: 10px;

 }

 .jga-carrito .carrito-item .btn-eliminar i{
    pointer-events: none;
    

 }

 .carrito-total {
    background-color: darkgreen;
    padding: 30px;
 }
.carrito-total .fila{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.carrito-total .btn-pagar{
    display: block;
    width: 100%;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;

}

.carrito-total .btn-pagar:hover{
    scale: 1.05;
}


 /* SECCION RESPONSIVE */
@media screen and (max-width: 850px) {

    .jga-carrito{
        width: 100%;
    }
  }
 