@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Spice&display=swap');
*{      
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111;
    background: linear-gradient(to left, #1C1C1C, #808080, #3B5998);
    color: #fff;
}
h1{
    font-family: 'Bungee', cursive;
    display:inline-block;
    font-size: 40px;
    text-align: justify;
    margin-top: 120px;
    margin-left: 20px;
    color: #EA3323;
}
.fuente50px{
    font-size: 55px;
}
h2{ 
    /* margin-top:70px; */
    font-size: 1.8rem;
    text-align: center;
    /* margin-bottom: 30px; */
    /* margin-left: 20px; */
    padding-top: 16px;
} 
header {
    
    background-color: #000000;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0;
    z-index: 1005;
    height: 8vh;
    padding: 10px;
    width: 100%;
}
.logo{
    width: 50px;
}
nav ul {
    
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 10px;
    margin-right: 25px;
    font-weight: bold;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bold;
    transition: color 0.3s ease;
    /* padding-right: 20px; */
}

nav ul li a:hover {
    color: #EA3323;
}
.arg{
    margin-top: 25px;
    margin-left: 20px;
    display:flex;
    justify-content:space-between;
    margin-right: 25px;
}

/* Explora Section */
.explora {
    height: 20vh;
    background: linear-gradient(to left, #1C1C1C, #808080, #3B5998);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.explora h1 {
    font-family: 'Bungee', sans-serif;
    font-size: 4rem;
    color: #EA3323;
    margin: 0;
}

.explora p {
    font-size: 1.5rem;
    margin: 10px 0 20px 0;
}

.explora .btn {
    background-color: #EA3323;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
    
}

.explora .btn:hover {
    background-color: #C1271D;
}
  /*Estilos seccion principal del index*/
  .principalIndex{
    margin-top: 5px;
    /* padding-top: 25px; */
    padding-left: 80px;
    background-image:url("../assets/img/consola_1920.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    height: 92vh; 
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    /* position:relative top; */
    /* p{ color:#ffffff;
      font-size: 1.3rem;
      text-align: justify center;
      width: 50%;
      backdrop-filter: blur(15px);
          
      
      } */
    
    
     
      .contenedorTextoPrincipalIndex{
          position:absolute;
          top:60vh;
          left: 50%;
          transform: translate(-50%, -50%);

          z-index: 1002;
          margin:0 auto;
          margin-top: 10%;
          /* border:2px solid  #510d1b; */
          padding:10px;
          border-radius: 5px;
          text-align: center;
          width: 50%;
          font-size: 10px;
          color: rgb(255, 255, 255);
          
          
          backdrop-filter: blur(15px);
      
      
          p{  
              font-size: 2.2em;
          }
          a{
              display:inline-block;
              margin-top:20px;
              text-decoration: none;
              color: rgb(255, 255, 255);
              font-size: 2em;
              border:2px solid rgb(109, 103, 103);
              padding:5px;
              border-radius:5px;
              box-shadow: -10px 0px 35px 12px rgba(255,0,0,0.66);
    
            }
            
        }
    
   
   
}
 /*productos Destacados*/
 .productosDestacados{
    text-align: center;
    
    .galeriaDestacados{
        padding: 10px;
        display: flex;
        width: 90%;
        margin: 0 auto;
        justify-content: space-between;
        flex-wrap: wrap;
        .masPedidos{
            /* border: 1px solid rgb(109, 87, 87); */
            padding: 10px;
            /* box-shadow: -10px 0px 35px 12px rgba(155,155,155,0.350); */
            border-radius:5px;
        
            a{
                display:inline-block;
                width: 200px;
                background-color: #000000;
                margin-top:20px;
                text-decoration: none;
                color: rgb(255, 255, 255);
                font-size: 1.5em;
                border:2px solid rgb(109, 103, 103);
                padding:5px;
                border-radius:5px;
                box-shadow: -10px 0px 35px 12px rgba(65, 62, 62, 0.66);

            
 
              }
              .btn{
                
                color: yellow;
                padding:10px
                }
              .btn:hover {
                    color: #EA3323;
                }   
        }

    }
    
    img{
       width: 200px;
    }
}
/*MARCAS QUE SE VENDEN */

.marcasQueSeVenden{
    margin-top: 15px;
    text-align: center;
    .btnMarcas{
        display: inline-block;
        margin-top: 30px;
        padding: 5px 10px;
        text-decoration: none;
        color: #ffffff;
        font-size: 1.2rem;
        border:2px solid rgb(109, 103, 103);
        padding:5px;
        border-radius:5px;
        box-shadow: -10px 0px 35px 12px rgba(255,0,0,0.66);
        background-color: #1f1e1e;
    }
    /* .btnMarcas {
        background-color: #1f1e1e;
        color: #fff;
        padding: 10px 20px;
        text-decoration: none;
        font-size: 1.2rem;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        margin-bottom: 10px;
        
    }
    
    .btnMarcas:hover {
        background-color: #C1271D; */
    
    .galeriaMarcas{
        padding: 10px;
        display: flex;
        width: 90%;
        margin: 0 auto;
        justify-content: space-between;
        flex-wrap: wrap;
        .brands{
            /* border: 1px solid rgb(109, 87, 87); */
            padding: 10px;
            /* box-shadow: -10px 0px 35px 12px rgba(155,155,155,0.350); */
            border-radius:5px;
        }

    }
}
/*Nuestros Clientes*/

.nuestrosClientes{
    margin-top: 15px;
    text-align: center;
    .btnClientes{
        display: inline-block;
        margin-top: 30px;
        padding: 5px 10px;
        text-decoration: none;
        color: #ffffff;
        font-size: 1.2rem;
        border:2px solid rgb(109, 103, 103);
        padding:5px;
        border-radius:5px;
        box-shadow: -10px 0px 35px 12px rgba(255,0,0,0.66);
        background-color: #1f1e1e;
    }
 
    
    .galeriaResenia{
        /* background-color: pink; */
        padding: 10px;
        display: flex;
        width: 80%;
        margin: 0 auto;
        row-gap: 20px;
        justify-content: space-evenly;
        flex-wrap: wrap;
        .op{
            /* border: 1px solid rgb(109, 87, 87); */
            padding: 10px;
            /* box-shadow: -10px 0px 35px 12px rgba(155,155,155,0.350); */
            border-radius:5px;
        }

    }
}
/* Footer */
footer {
    /* background-color: #222; */
    background-color: #000000;
    padding: 0;
    text-align:left;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

footer p {
    margin: 0;
}
.mapa{
    display:contents;
    width: 5%;
    height: 5%;
    justify-content: space-around;
    /* align-items: center; */
    margin-top: 5px;
    
    
    
}
address {
    margin-left: 10px;
    
    color:#ffffff;
}
ul{
    list-style: none;
  
    a{
        text-decoration: none;
        color:  #ffffff;
        font-size: 1.5em;
        margin-top: 20px;
    }
    .fa-instagram, .f a-facebook, .fa-twitter{
        font-size: 3em;
    }
}
.fa-whatsapp{
    font-size: 4em;
    color:rgb(44, 181, 44);
    position:fixed;
    bottom: 180px;
    right: 20px;
   
}
p{
    font-size: 1.2em;
    color: #ffffff;
  
}


.fa-up-long{
    font-size: 64px;
    
    margin-left: 20px;
    bottom: 220px;
    
}
.mision{
    
    margin-top:63px;
    margin-left: 30px;
    margin-bottom: 40px;
    color: #ffffff;
    list-style-type: none;
}
.mision ul{
    margin-left: 10px;  
    list-style-type: none; 
}
.mision ul li{
    margin: 5px 3px;
    span {
    color: red;
    }
}
h3{
    
    margin-top: 25px;
    margin-bottom: 20px;
    
}
ul.redes{
    margin-top: 60px;
    margin-left: 10px;
}
